{% extends 'fpages/default.html' %}

{% load custom_filters %}!

{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>{{news|length}} - News from all around the world</h1>

   <hr>
   {% if news %}
    <table>
        <tr>
            <td>Header</td>
            <td>Publication date</td>
            <td>Text</td>
        </tr>

        {% for post in news %}
        <tr>
            <td>{{ post.post_header|censor }}</td>
            <td>{{ post.post_pub_date|date:'d M Y' }} </td>
            <td>{{ post.post_text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
           <h2>No news</h2>
{% endif %}

{% endblock content %}