{% extends 'fpages/default.html' %}

{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
News Portal
{% endblock title %}

{% block content %}
   <h1>{{news_portal|length}} - News from all around the world</h1>

   <hr>
   {% if news_portal %}
    <table>
        <tr>
            <td>Header</td>
            <td>Publication date</td>
            <td>Text</td>
        </tr>

        {% for post in news_portal %}
        <tr>
            <td>{{ post.post_header|censor }}</td>
            <td>{{ post.post_pub_date|date:'d M Y' }} </td>
            <td>{{ post.post_text|truncatewords:20|censor }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
           <h2>No news</h2>
{% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}