{% extends 'fpages/default.html' %}

{% load custom_filters %}!
{% load custom_tags %}
{% load subscribe_tags %}

{% block title %}
Category
{% endblock title %}
{% block content %}

<h1> Posts in category "{{ category }}" </h1>

{% subscribe_form %}
<hr>
    <ul>
            {% if id_category == post_category %}
                <tr>
                    <td>{{ post.post_header|censor }}</td>
                    <td>{{ post.post_pub_date|date:'d M Y' }} </td>
                    <td>{{ post.post_text|truncatewords:20|censor }}</td>
                </tr>
            {% else %}
                No Posts in this Category!
            {% endif %}
    </ul>

{% endblock content %}